@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root
{
    --width-bar: 100px;
    --green: #008744;
    --blue: #0057e7;
    --red: #00db00;
    --yellow: #05295e;
    --white: #eee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 !important;
}

body{
    width: 100%;
    height: 100%;
    background-color: #edeeed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    
}

#bizumpay-modal{  
    padding: 0;  
    max-width: 100%;
    background-image: url('../img/fondoSolo.png');
    width: 371px;
    /* min-height: 660px; */
    min-height:900px !important;
    margin :auto;
    margin-top: 2%;
    padding-left: 2% !important;
    padding-right: 2% !important;
    overflow: hidden;
    background-repeat: no-repeat;
    
}
.modal-backdrop.show{
    background-color: green;
}
.modal .modal-dialog{
    background-color: blue;
}

.modal-content
{    
    border: solid 0px !important;    
    background-color: rgba(0,0,0,.0001) !important;
    /* background: transparent; */
    /* background-image: url('../img/bizumpay-background.png'); */
    background-color: red;
    display: grid !important;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill,auto)  ;
    grid-template-areas: "titulo titulo"
                         "cuadro cuadro"
                         " caja  caja"
                         "spinner spinner";
}

.title{
    grid-area: titulo;
    /* background-color: #B6463A; */
}
.cuadro{
    /* background-color: blue !important; */
    grid-area:cuadro;
    width: max-content;
}

.modal-dialog{
    border: none;
    background: transparent;
    background-color: rgba(0,0,0,.0001) !important;
}

.title{
    /* margin-top: 15%; */
    color: #05295e;
}

.caja-boton{
    display: flex;
    justify-content: center;
    grid-area: caja;
    margin-top: 5%;

}
.btn-code
{
    /* margin-left: 96px !important; */
    width: auto !important;
    background-color: #01b2ff !important;
    border-color: #01b2ff !important;
    border-radius: 15px !important;
    /* height: 66px !important; */
    color: white;
    padding: 5% !important;
}

.title h1{
    font-weight: 700;
}

.steps-card 
{
    /* margin-top: 2%;
    margin-left: 18px;
    margin-right: 18px; */
    margin-top: 2% !important;
    border-radius: 7px !important;
    background-color: #c4d6e4 !important;
    width: 100% !important;
    margin: 0;
    padding: 5% !important;
}

.content-steps-card
{
    color: #05295e;
    padding-top: 2% !important;
    padding-bottom: 1% !important;
}


.logo{
    grid-area: spinner;
    text-align: center;
    margin-top: 5%;
}
.image-title{
    padding: 10%;
}
.image-title img{
    width: 60%;
    max-width: 100%;
}
.subtitle
{
    /* padding-top: -30px; */
    font-size: 110%;
}

.fw-700
{
    font-weight: 700;
}

.fa-arrow-circle-down
{
    color: white;
}
.btn-send-bizum{
    height: max-content;
    max-width: 100%;
}
.btn-send-bizum p{
    text-align: justify;
    color: red;
    max-width: 100% !important;
}

.boton-a
{    
    padding: 20px;
    color: white;
    font-size: 1em !important;
    border-radius: 18px !important;
    font-weight: 700 !important;
    background-color: #00db00 !important;
    border-color: #00db00 !important;
    min-height: 50px;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
 a{
    text-decoration: none;
}

.cash
{
    color: #11b3fa;
}

.txt-tel
{
    font-size: 110%;
}



.adjunt-code
{
    font-size: 75%;
}

.loader{
    position: absolute;
    width: var(--width-bar);
    height: var(--width-bar);
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circular{
    animation: rotate 2s linear infinite;
    height: var(--width-bar);
    position: relative;
    width: var(--width-bar);
}

.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke:#B6463A;
    animation:
     dash 1.5s ease-in-out infinite,
     color 6s ease-in-out infinite
    ;
    stroke-linecap: round;
}

@keyframes rotate{
    100%{
     transform: rotate(360deg);
    }
}

@keyframes dash{
    0%{
     stroke-dasharray: 1,200;
     stroke-dashoffset: 0;
    }
    50%{
     stroke-dasharray: 89,200;
     stroke-dashoffset: -35;
    }
    100%{
     stroke-dasharray: 89,200;
     stroke-dashoffset: -124;
    }
}

@keyframes color{
    100%, 0%{
    stroke: var(--red);
    }
    40%{
    stroke: var(--blue);
    }
    66%{
    stroke: var(--green);
    }
    80%, 90%{
    stroke: var(--yellow);
    }
}

.payment-detect
{
    color: #05295e;
}


/* MenuPuntos */
.menu {
    width: 2.2rem;
    /* height: 2.7rem; */
    height: auto;
    border-radius: 0 0.5rem 0.5rem 0;
    position: absolute;
    top: 11px;
    right: 1%;
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    transition: left 0.7s;
    /* background-color: blue; */
    /* background: rgba(132, 189, 0, 0.7); */
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); */
    z-index: 15;

}

/* CUANDO SE CLICKEA  MenuPuntos*/
.checkbox:checked ~ .menu {
    /* background-color: red; */
    /* left: 96%; */
    right: 20px;
    border-radius: 0 0.5rem 0.5rem 0;
    font-size: 14px;
    z-index: 25;
   
}
.left-panel {
    width: 100%;
    height: 660px;
    /*safari*/
    background:  -webkit-linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    /*opera*/
    background: -o-linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    /*estandar*/
    background: linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    position: fixed;
    top: 0;
    left: -120%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.4s;
    z-index: 20;
}
.checkbox:checked ~ .left-panel {
    left: 0;
}
.checkbox {
    display: none;   
}
ul a {
    color: #F7F7F7;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 0 0.5rem;
    margin: 1rem 0;
}

li:hover {
    color: white;
    border: solid white;
    border-width: 0 0.1rem;
}